body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #CFD8DC;
}

header {
  display: inline-block;
  width: 90%;
  font-size: 48px;
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}

header img {
  height: 40px;
}

input {
  width: 350px;
  height: 25px;
  margin: 20px 0;
  font-family: "Open Sans";
  font-size: 15px;
}

input:focus{
  outline: none;
  border: 2px solid #FFC107;
}

a {
  border-bottom: 1px solid #F2F4F4;
  color: #607D8B;
  text-decoration: none;
  outline: none;
  font-size: 18px;
}

h2 {
  font-size: 24px
}

p {
  /*font-family: fantasy;*/
  margin-top: 5px;
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card {
  border: 1px solid #607D8B;
  background-color: white;
  color: #455A64;
  padding: 10px 15px;
  position: relative;
  width: 85%;
  margin: 20px auto;
}

.card div {
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #CFD8BC;
  border-bottom: 1px solid #CFD8BC;
}

.read-btn, .delete-btn {
  position: absolute;
  bottom: 5px;
  border: none;
  outline: none;
  padding: 0;
  margin: 2px;
  border-bottom: 1px solid #F2F4F4;
  color: #607D8B;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;

  overflow:
}

.read-btn {
  left: 15px;
}

.delete-btn {
  right: 15px;
}

.delete-btn:hover, .read-btn:hover, a:hover {
  border-bottom: 1px solid #FFC107;
  font-weight: 800;
  cursor: pointer;
}

.markRead {
  color: #F05A28;
  font-weight: 800;
  border: none;
}

.markCard {
  background-color: #F2F4F4;
}

.markLink {
  border-bottom: 1px solid #CFD8DC;
}

#left-section {
  position: fixed;
  text-align: center;
  height: 100vh;
  width: 50vw;
  background-color: #455864;
}

#right-section {
  position: fixed;
  right: 0;
  width: 50vw;
  height: 100vh;
  overflow: scroll;
  background-color: #CFD8DC;
  align-items: center;
}

#enter-btn {
  background-color: #FFC107;
  width: 360px;
  height: 30px;
  color: white;
  margin: 20px 0;
  border: none;
  font-family: "Open Sans";
  font-size: 15px;
}

#enter-btn:hover {
  background-color: #FFD773;
  cursor: pointer;
}

#enter-btn:disabled {
  background-color: lightgray;
  cursor: default;
}
#clear-read-btn{
  height: 10px;
  border: none;
  background-color: #455864;
}
#clear-read-btn img{
  height:12px;
}
#clear-read-btn img:hover{
 background-color: #FCC107;
}
#readCount {
  display: inline-block;
}

#clear-read-btn {
  padding: 0;
  display: inline-block;
}



@media screen and (max-width: 768px){

  header {
    display: inline-block;
    width: 90%;
    font-size: 30px;
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
  }

  header img {
    height: 25px;
  }

  input {
    height: 30px;
    width: 90%;
    margin: 10px auto;
    font-size: 25px;
    font-weight: 400px;
  }

  #enter-btn {
    height: 35px;
    width: 92%;
    margin: 10px auto;
  }

  #left-section {
    position: relative;
    /*text-align: center;*/
    height: 40vh;
    width: 100vw;
    z-index: 2;
  }

  #right-section {
    position: relative;
    right: 0;
    overflow: hidden;
    width: 100vw;
    z-index: 3;
    height: 100%;
    }

}

@media screen and (max-width: 500px){

  header {
    display: inline-block;
    width: 90%;
    font-size: 30px;
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
  }

  header img {
    height: 25px;
  }

  input {
    height: 30px;
    width: 90%;
    margin: 10px auto;
    font-size: 25px;
    font-weight: 400px;
  }

  #enter-btn {
    height: 35px;
    width: 92%;
    margin: 10px auto;
  }

  #left-section {
    position: relative;
    /*text-align: center;*/
    height: 50vh;
    width: 100vw;
    z-index: 2;
  }

  #right-section {
    position: relative;
    right: 0;
    overflow: hidden;
    width: 100vw;
    z-index: 3;
    height: 100%;
    }
}
@media screen and (min-width: 1400px){
  header {
    display: inline-block;
    width: 90%;
    font-size: 48px;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
  }

  header img {
    height: 40px;
  }

  input {
    position: relative;
    display: block;
    width: 350px;
    height: 25px;
    margin: 30px auto;
    font-family: "Open Sans";
    font-size: 15px;
  }
  .container {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);

}
